{% extends 'layout.jinja2' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <div id="button-format">
    <a href="/">Home</a> | 
    <a href="/reservations">Reservations</a>
  </div>
  <h2 class="title">Administrator Login</h2>

  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% if seatingChart %}
      <h3 id="printChart">Printing Seating Chart...</h3>
      <div class="seating-chart">
        <ul>
          {% for row in seatingChart %}
          <li>{{ row }}</li>
          {% endfor %}
        </ul>
      </div>
      <p>Total sales: ${{ price }}</p>
      {% endif %}
      {% if incorrectLogin %}
      <h4 class="error-message">Error: Incorrect Username or Password</h4>
      {% endif %}
    {% endif %}
    {% endwith %}
  </div>

  <form method="POST" action="/admin">
    {{ form.csrf_token }}

    <div class="form-field">{{ form.username.label }} {{ form.username }}
      {% if form.username.errors %}
      <ul class="errors">
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="form-field">{{ form.password.label }} {{ form.password }}
      {% if form.password.errors %}
      <ul class="errors">
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    {{ form.login }}
  </form>

</div>
{% endblock %}